@import "github-markdown-css/github-markdown.css";
@import "./prism.css";

.markdown-body {
  color-scheme: none;
  font-family: var(--font-inter, Inter);
  color: var(--textPrimary);
  background-color: transparent;
  font-size: 14px;

  /* block level */
  h1,
  h2 {
    padding-bottom: 0;
    border-bottom: 0;
  }

  h2 {
    margin-bottom: 8px;
  }

  h6 {
    color: var(--textSecondary);
  }

  ul,
  ol {
    li {
      & > p {
        margin: 0;
      }
    }
  }

  ul {
    li {
      list-style: disc;
    }
  }

  ol {
    li {
      list-style: decimal;
    }
  }

  blockquote {
    color: var(--textSecondary);
  }

  pre {
    color: var(--textPrimary);
  }

  hr {
    height: 1px;
  }

  img {
    background-color: transparent;
  }
}

/* renderMentionIdentityUser.ts */
/* containerElement */
.markdown-body {
  & span.mention-identity-user-app {
    display: inline-flex;
    /* do not know why, but works and looks normal */
    vertical-align: bottom;
  }
}
