/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
.markdown-body,
.html-body {
  code[class*="language-"],
  pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 1em;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  pre[class*="language-"]::-moz-selection,
  pre[class*="language-"] ::-moz-selection,
  code[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
  }

  pre[class*="language-"]::selection,
  pre[class*="language-"] ::selection,
  code[class*="language-"]::selection,
  code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
  }

  @media print {
    code[class*="language-"],
    pre[class*="language-"] {
      text-shadow: none;
    }
  }

  /* Code blocks */
  pre[class*="language-"] {
    padding: 1em;
    margin: 0.5em 0;
    overflow: auto;
  }

  :not(pre) > code[class*="language-"],
  pre[class*="language-"] {
    background: #f5f2f0;
  }

  /* Inline code */
  :not(pre) > code[class*="language-"] {
    padding: 0.1em;
    border-radius: 0.3em;
    white-space: normal;
  }

  .token.comment,
  .token.prolog,
  .token.doctype,
  .token.cdata {
    color: slategray;
  }

  .token.punctuation {
    color: #999;
  }

  .token.namespace {
    opacity: 0.7;
  }

  .token.property,
  .token.tag,
  .token.boolean,
  .token.number,
  .token.constant,
  .token.symbol,
  .token.deleted {
    color: #905;
  }

  .token.selector,
  .token.attr-name,
  .token.string,
  .token.char,
  .token.builtin,
  .token.inserted {
    color: #690;
  }

  .token.operator,
  .token.entity,
  .token.url,
  .language-css .token.string,
  .style .token.string {
    color: #9a6e3a;
    /* This background color was intended by the author of this theme. */
    background: hsla(0, 0%, 100%, 0.5);
  }

  .token.atrule,
  .token.attr-value,
  .token.keyword {
    color: #07a;
  }

  .token.function,
  .token.class-name {
    color: #dd4a68;
  }

  .token.regex,
  .token.important,
  .token.variable {
    color: #e90;
  }

  .token.important,
  .token.bold {
    font-weight: bold;
  }
  .token.italic {
    font-style: italic;
  }

  .token.entity {
    cursor: help;
  }
}

.markdown-body,
.html-body {
  /* base font */
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  word-break: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;

    margin-top: 24px;
    margin-bottom: 16px;

    :first-child {
      margin-top: 0;
    }
    :last-child {
      margin-bottom: 0;
    }

    & b,
    & strong {
      font-weight: inherit;
    }
  }

  h1 {
    line-height: 28px;
    font-size: 20px;
  }

  h2 {
    line-height: 24px;
    font-size: 18px;
  }

  h3 {
    line-height: 24px;
    font-size: 16px;
  }

  h4 {
    line-height: 24px;
    font-size: 14px;
  }

  p {
    word-break: break-word;
    line-height: 24px !important;
  }

  ol,
  ul {
    padding-left: 1.25em;
  }

  ul {
    list-style-type: disc;
  }

  blockquote {
    margin: 0;
    padding-left: 0.75em;
    border-left: 4px solid #eee;
  }

  pre {
    -ms-overflow-style: none;
    scrollbar-width: none;

    ::-webkit-scrollbar {
      display: none;
    }

    * {
      font-family: i-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace !important;
    }

    margin: 8px 0;
    padding: 0 8px;
    background-color: #f0f3f8;
    border-radius: 4px;
    white-space: pre-wrap !important;
    overflow-x: scroll;

    > code {
      padding: 0 !important;
      background: transparent !important;
      white-space: pre-wrap !important;
      display: inline;

      span.identifier {
        white-space: nowrap !important;
      }
    }
  }

  code {
    font-family: i-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
      Liberation Mono, monospace !important;
    padding: 2px 8px;
    background-color: #f0f3f8;
    border-radius: 4px;
  }

  a {
    color: #1f70c7;
    cursor: pointer;
    text-decoration: none;
  }

  img {
    max-width: 100%;
  }

  p a::selection {
    background-color: transparent !important;
    color: inherit;
  }

  th,
  td {
    border: 1px solid #e2e8f0;
  }

  table {
    margin: 8px 0;
    border-collapse: collapse;
    max-width: 100%;
    overflow: auto;
    display: block;
  }

  th {
    padding: 10px 16px;
    background-color: #f0f3f8;
    font-weight: bold;
    color: #1e2134;
    min-width: 100px;
  }

  td {
    padding: 10px 16px;
    color: #1e2134;
  }

  tbody tr:nth-child(even) {
    background-color: #fbfcfe;
  }

  hr {
    background-color: #e2e8f0;
    height: 1px;
    border: none;
    margin: 16px 0;
  }

  /* NOTE: forced remove token background */
  code[class*="language-"],
  pre[class*="language-"] {
    .token {
      background: transparent;
    }
  }
}

/* renderMentionIdentityUser.ts */
/* containerElement */
.markdown-body,
.html-body {
  & span.mention-identity-user-app {
    display: inline-flex;
    /* do not know why, but works and looks normal */
    vertical-align: bottom;
  }
}
